    <div class="container">
        <div class="col-sm-6 video-panels">
            <youtube-video player-width="'100%'" player-height="'300px'" video-id="theBestVideo"></youtube-video>
        </div>
        <div class="col-sm-6 video-panels">
            <youtube-video player-width="'100%'" player-height="'300px'" video-id="videoId"></youtube-video>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 video-panels">
            <form action="">
                <div class="form-group">
                    <input type="text" ng-model="video.addToQueue" class="form-control">
                    <a class="btn btn-default" ng-click="pushNextVideo(video.addToQueue)" href="#" role="button">Add</a>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 video-panels">
            Queue:<br>
            <ul>
                <li ng-repeat="video in videoQueue">{{video}}</li>
            </ul>
        </div>
        <div class="col-sm-6"></div>
    </div>